.example-headers-align{
    align-content: center;
    
}

.card {
    max-width: 1200px;
    min-width: 200px;
    margin: 40px;
    padding-bottom: 1rem;
    font-size: 0.85em;
  background-color: rgba(205, 205, 205, 0.45);
  }

  .colors{
      background-color: #FFEB3B;
  }
  .colorsdemoThemePicker .componentTag {
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: 10px; }
  
  .example-image {
    /* background-image: url('https://www.supertics.com/sites/default/files/inline-images/por-que-las-matematicas-son-dificiles.jpg'); */
    background-size: cover;
    max-width: 1200px;
    max-height: 300px;
    min-width: 100px;
    padding: 20px;
  }

  .example-button{
    text-align: right;
    
}

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


h3{
  text-align: justify;
}

/* mat-card-footer {
  position: absolute;
  bottom: 14px;
}

.numero-likes{
  vertical-align: super;
  margin-left: 10px;
  font-size: 24px;
} */